.avatar__image {
  border-radius: 16px;
  object-fit: cover;
  margin-bottom: 1rem;
  margin-right: 12px;
}

.avatar__image:hover {
  opacity: 0.7;
}

.avatar__image--extra-large {
  width: 150px;
  height: 150px;
  margin: 0 auto;
  border-radius: 8px;
}

.avatar__image--large {
  height: 80px;
  width: 80px;
}

.avatar__image--medium {
  height: 60px;
  width: 60px;
}

.avatar__image--small {
  height: 40px;
  width: 40px;
}
