.avatar__image {
  border-radius: 16px;
  object-fit: cover;
  margin-bottom: 1rem;
  margin-right: 12px;
}

.avatar__image--friend {
  height: 100%;
  width: 100px;
  border-radius: 30px;
  border: 6px solid #2e2828;
  outline: 3px solid white;
}

.avatar__image--friend:hover {
  outline: 3px solid #fefe00;
}

.avatar__image--extra-large {
  width: 150px;
  height: 150px;
  margin: 0 auto;
  border-radius: 8px;
}

.avatar__image--extra-extra-large {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  border-radius: 8px;
}

.avatar__image--large {
  height: 80px;
  width: 80px;
}

.avatar__image--medium {
  height: 60px;
  width: 60px;
}

.avatar__image--small {
  height: 40px;
  width: 40px;
}
