.comment {
  margin-bottom: 1.25rem;
}

.comment__container {
  display: flex;
}

.comment__avatar {
  margin-right: 12px;
}

.comment__avatar--comment {
  margin-right: 12px;
}

.comment__top {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.5rem;
}

.comment__details {
  padding: 1rem 1.2rem;
  border-radius: 0.25rem;
}

.comment__details--dark {
  background-color: rgb(7, 6, 5);
}

.comment__details--light {
  background-color: var(--button-bg-color);
}

.comment__link {
  font-weight: 600;
}

.comment__link:hover {
  text-decoration: underline;
}

.comment__gray {
  margin-right: 8px;
  font-weight: 300;
}

.comment__gray--dark {
  color: rgb(160, 152, 137);
}

.comment__gray--light {
  color: rgb(75, 71, 64);
}

.comment__text {
  margin: 0;
}

.comment__content {
  width: 100%;
}

.comment__actions {
  margin-top: 8px;
  display: flex;
  justify-content: space-between;
  line-height: 1rem;
  color: white;
}

.comment__likes {
  display: flex;
}

.comment__button {
  border: none;
  font-weight: 500;
  background-color: transparent;
  font-size: 0.9rem;
  cursor: pointer;
  color: var(--text-color);
}

.comment__button--like {
  margin-right: 0.75rem;
}

.comment__button--like:hover {
  background-color: var(--button-bg-color-2);
}

.comment__button--edit:hover {
  color: rgb(200, 190, 174);
}

.comment__button--edit:hover {
  color: rgb(89, 85, 174);
}

.comment__button--delete:hover {
  color: rgb(255, 134, 134);
}

.comment__button--icon {
  display: flex;
  align-items: center;
}

.comment__icon--heart {
  margin-right: 6px;
}

.comment__button--icon:hover {
  text-decoration: underline;
  cursor: pointer;
}

.comment__reply {
  display: flex;
  align-items: center;
}

.comment__icon {
  font-size: 1.3rem;
}

.comment__icon--comment {
  margin-right: 6px;
}

.comment__name {
  margin-right: 4px;
}

.comment__number {
  padding: 0.3rem 0.7rem;
  border-radius: 100px;
  background-color: #292631;
}

.comment__votes {
  display: flex;
  align-items: center;
}

.comment__vote {
  vertical-align: middle;
  display: flex;
  align-items: center;
}

.comment__vote:first-child {
  margin-right: 8px;
}

.comment__vote:last-child {
  margin-left: 8px;
}

.comment__icon--vote {
  margin-right: 8px;
}

.comment__button--active {
  color: #2a86fe;
}

@media (max-width: 550px) {
  .comment__top {
    display: block;
  }

  .comment__gray {
    display: block;
    margin-top: 6px;
  }
}