.home {
  min-height: 100%;
}

.home__flex {
  display: flex;
}

.home__logo {
  display: flex;
  gap: 8px;
}

.home__input {
  margin-top: 2rem;
  height: 62px;
  border-radius: 8px;
  width: 100%;
  background-color: #28262e;
  padding: 2rem 3.2rem;
  box-sizing: border-box;
  border: 1px solid #2c2b35;
}
.home__input::before {
  content: "\f274";
}

.home__wrapper {
  position: relative;
}

.home__image {
  width: 60px;
  height: 60px;
  border-radius: 50%;
}

.home__aside {
  padding: 3.2rem 1.9rem;
  background-color: #1f1e22;
  box-sizing: border-box;
  width: 22%;
  height: 100%;
  border-top: 2px solid #2e2c35;
  border-right: 2px solid #2e2c35;
}

.home__navigation {
  background-color: #1f1e22;
}

.home__main {
  background-color: #17171c;
}

.home__link {
  list-style: none;
  background-color: transparent;
  height: 60px;
  width: 100%;
  box-sizing: border-box;
  font-size: 1.5rem;
  display: flex;
  align-items: center;
  padding-left: 1rem;
  border-radius: 8px;
  cursor: pointer;
  gap: 16px;
}

.home__link:hover {
  background-color: #27272f;
  color: #435cb0;
}

.home__links {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-bottom: 3.3rem;
  margin-top: 2.5rem;
  border-bottom: 1px solid gray;
}

.home__communities {
  margin-top: 1rem;
}

.home__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.home__number {
  padding: 0.5rem;
  border-radius: 50%;
  background-color: #292631;
}

.home__content {
  width: 78%;
}

.home__main {
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-template-rows: 1fr 3fr;
}

.home__center {
  padding: 2.3rem 5rem;
}

.home__create {
  background-color: #1f1e22;
  border: 2px solid #2d3034;
  padding: 1rem;
}

.home__center-top {
  display: flex;
  align-items: center;
  gap: 16px;
}

.home__icons {
  padding: 1rem;
  display: flex;
  gap: 18px;
}

.home__icon {
  width: 30px;
  height: 30px;
}
