.friends {
  display: grid;
  height: 100%;
}

.friends__container {
  margin: 1rem;
  background-color: black;
}

@media (max-width: 767px) {
  .friends {
    margin-top: 4.3rem;
  }
  .friends__container {
    margin: 0;
  }
}

@media (min-width: 768px) {
  .friends {
    grid-template-columns: 270px 1fr;
  }
}

@media (min-width: 1024px) {
  .friends {
    grid-template-columns: 320px 1fr;
  }
  .friends__cards {
    background-color: transparent;
  }
}
