.friends {
  display: grid;
}

.friends__container {
  margin: 1rem;
}

.friends__container--light {
  background-color: rgb(225, 225, 225);
}

.friends__container--dark {
  background-color: #252525;
}

@media (max-width: 767px) {
  .friends {
    margin-top: 5rem;
  }

  .friends__container {
    margin: 0;
  }
}

@media (min-width: 768px) {
  .friends {
    grid-template-columns: 270px 1fr;
  }
}

@media (min-width: 1024px) {
  .friends {
    grid-template-columns: 320px 1fr;
  }

  .friends__cards {
    background-color: transparent;
  }
}

@media (max-width: 520px) {
  .friends {
    display: block;
  }
}