.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: hsla(0, 0%, 96%, 0.8);
  z-index: 5;
  color: black;
}

.modal__container {
  background-color: white;
  border-radius: 8px;
  box-shadow: 4px 4px 20px rgb(0 0 0 / 30%);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  min-height: min(100%, 428px);
  min-width: 310px;
  position: relative;
  width: min(100%, 500px);
  max-height: 428px;
  overflow-y: scroll;
}

.modal__author-bar {
  display: flex;
  align-items: center;
  margin: 1rem;
}

.modal__avatar {
  height: 50px;
  width: 50px;
  object-fit: cover;
  border-radius: 50%;
}

.modal__text {
  margin-left: 12px;
}

.modal__surtitle {
  color: #65676b;
  margin-bottom: 0;
}

.modal__name {
  margin-top: 0;
}

.modal__content {
  display: flex;
  flex: 1 1;
  flex-direction: column;
  padding: 0 16px;
  box-sizing: border-box;
}

.modal__button {
  position: absolute;
  font-size: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  border-radius: 50%;
  background-color: initial;
  border: none;
  right: 12px;
  top: 12px;
  width: 32px;
  line-height: 0;
  padding: 0;
  color: #606770;
  cursor: pointer;
}

.modal__title-bar {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 59px;
  border-bottom: 1px solid #dedede;
}

.modal__button:hover {
  color: rgb(59, 130, 246);
  transform: scale(1.075);
}
