.footer {
  text-align: center;
}

.footer__name {
  margin-bottom: 0;
  margin-bottom: 8px;
  font-size: 2rem;
}

.footer__link {
  text-align: center;
  display: block;
  margin-bottom: 1rem;
}

.footer__link:hover {
  text-decoration: underline;
}

.footer__copyright {
  margin-top: 0;
  line-height: 1.25rem;
  margin-bottom: 12px;
  color: #e7e7e7;
  font-size: 1.25rem;
}

.footer__icon {
  height: 60px;
  width: 60px;
  opacity: 0.6;
  cursor: pointer;
}

.footer__icon:hover {
  opacity: 1;
}
