.message {
  display: flex;
  align-items: center;
  flex: 1 1;
}

.message--blue {
  flex-direction: row-reverse;
}

.message__avatar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 28px;
  object-fit: cover;
}

.message__content {
  background-color: #262837;
  padding: 1.4rem 1.25rem;
  margin-right: 16px;
  border-radius: 14px;
  border-top-left-radius: 0;
}

.message__image {
  max-width: 60%;
  max-height: 60%;
  width: auto;
  height: auto;
  margin-right: 1rem;
  color: transparent;
  flex-shrink: 0; /* Prevent image from shrinking */
  margin-right: 16px;
  object-fit: cover;
}

.message--blue .message__image {
  margin-left: 14px;
}

.message__content--blue {
  background-color: #5460c6;
  margin-left: 14px;
  border-radius: 14px;
  border-bottom-right-radius: 0;
}

.message__time {
  color: #a5a5ab;
}
