.container {
  padding: 3rem;
}

.main {
  max-width: 1340px;
  margin-left: 120px;
  margin-right: 120px;
  margin: 0 auto;
  margin-top: 30px;
  height: 100%;
}

@media (max-width: 400px) {
  .container {
    padding: 1rem;
  }
}
