.not-found__logo {
  color: #4255fe;
  font-size: 6rem;
  text-align: center;
  margin: 0;
  font-family: "Filmotype-Alice";
  letter-spacing: 10px;
  transform: rotate(-4deg);
  display: flex;
  align-items: center;
}

.auth__image {

  filter: invert(30%) sepia(41%) saturate(4365%) hue-rotate(199deg)
    brightness(106%) contrast(103%);
  width: 110px;
  height: 110px;
  margin-right: 8px;
  margin-bottom: 2rem;
}