.home {
  min-height: 100%;
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 2rem;
}

.home__menu {
  display: none;
}

@media (max-width: 1253px) {
  .home__right {
    display: none;
  }

  .home__menu {
    display: block;
  }

  .home {
    grid-template-columns: 1fr;
  }
}
