.home {
  min-height: 100%;
}

.home__main {
  background-color: #17171c;
}

.home__main {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.home__center {
  padding: 2.9rem 4.3rem;
}

@media(max-width: 840px) {
  .home__main {
    display: block;
  }
  .home__center {
    padding: 0;
    padding-top: 5rem;
    padding-left: 1rem;
    padding-right: 1rem;
  }
}

@media(max-width: 1680px) {

  .home__right {
    display: none;
  }
}
