.home {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 2rem;
  padding: 3rem 4.3rem;
}

.home__menu {
  display: none;
}

@media (max-width: 1253px) {
  .home__right {
    display: none;
  }

  .home__menu {
    display: block;
  }

  .home {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 840px) {
  .home {
    padding: 5rem 1rem 2rem;
  }
}
