.profile {
  width: 100vw;
}
.profile__header {
  height: 345px;
  width: 78%;
  position: relative;
  margin-bottom: 7.5rem;
}

.profile__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.profile__avatar {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin-right: 12px;
}

.profile__text {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.profile__details {
  position: absolute;
  bottom: -100px;
  left: 30px;
  display: flex;
}

.profile__name {
  margin-bottom: 0;
}

.profile__content {
  display: grid;
  grid-template-columns: 1fr 3fr;
}

.profile__about {
  background-color: #1f1e22;
  border: 2px solid #2d3034;
  padding: 1rem;
  border-radius: 12px;
}

.profile__description {
  color: #5d6788;
}
