.post__top {
  --icon-hover: #ff79c6;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 20px;
  padding-top: 25px;
}

.post__container {
  display: flex;
}

.post__avatar {
  height: 100%;
  width: 40px;
  border-radius: 50%;
}

.post__details {
  margin-left: 8px;
}

.post__author {
  margin: 0;
  cursor: pointer;
}

.post__author:hover {
  text-decoration: underline;
}

.post__date {
  margin-top: 6px;
  display: flex;
  align-items: center;
}

.post__time {
  margin-left: 6px;
}

.post__actions {
  padding-right: 23px;
  position: relative;
}

.post__icon {
  font-size: 1.3rem;
}

.post__icon--bookmark {
  cursor: pointer;
}

.post__icon--bookmark:hover {
  color: var(--icon-hover);
}

.post__icon--threedots {
  margin-left: 21px;
  cursor: pointer;
}

.post__icon--threedots:hover {
  color: var(--icon-hover);
}

.post__content {
  margin-top: -18px;
}

.post__description {
  margin-left: 20px;
  font-size: 1.2rem;
}

.post__image {
  width: 100%;
  height: 394px;
  object-fit: cover;
}

.post__controls {
  padding: 0.9rem 4.5rem;
  width: 100%;
  box-sizing: border-box;
  display: flex;
  justify-content: space-around;
  border-bottom: 3px solid #24262a;
}

.post__control {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.post__control:hover {
  color: var(--icon-hover);
}

.post__icon--control {
  margin-right: 8px;
}

.post__name {
  margin-right: 4px;
}

.post__number {
  padding: 0.3rem 0.7rem;
  border-radius: 100px;
  background-color: #292631;
}

.post__view {
  padding-top: 6px;
  padding-bottom: 6px;
  text-align: center;
  color: #445bab;
}

@media(max-width: 570px) {
  .post__controls {
    padding-left: 0;
    padding-right: 0;
    flex-direction: column;
    gap: 16px;
    align-items: center;
  }
}
