.comment__container {
  display: flex;
}

.comment__avatar {
  height: 100%;
  width: 40px;
  border-radius: 50%;
}

.comment__avatar--comment {
  margin-right: 24px;
}

.comment__gray {
  color: #88878f;
  margin-right: 8px;
}

.comment__actions {
  margin-top: 16px;
  display: flex;
  justify-content: space-between;
}

.comment__reply {
  display: flex;
  align-items: center;
}

.comment__icon {
  font-size: 1.3rem;
}

.comment__icon--comment {
  margin-right: 6px;
}

.comment__name {
  margin-right: 4px;
}

.comment__number {
  padding: 0.3rem 0.7rem;
  border-radius: 100px;
  background-color: #292631;
}

.comment__votes {
  display: flex;
  align-items: center;
}

.comment__vote {
  vertical-align: middle;
  display: flex;
  align-items: center;
}

.comment__vote:first-child {
  margin-right: 8px;
}

.comment__vote:last-child {
  margin-left: 8px;
}

.comment__icon--vote {
  margin-right: 8px;
}
