.main {
  display: flex;
  flex-direction: column;
  overflow-y: auto;
}

.main__message {
  margin-top: 90px;
  text-align: center;
  font-size: 1.25rem;
}

.main--appear {
  display: flex !important;
}

.main__content {
  padding: 1.3rem 2rem;
  max-height: 82vh;
  overflow-y: scroll;
  flex: 1;
  margin-top: auto;
}

@media (max-width: 1390px) {
  .main {
    display: none;
  }
}