.notification__activity {
  background-color: #232223;
  background-color: #282929;
  border-radius: 16px;
  padding: 0.5rem 1rem;
  margin-bottom: 1.5rem;
}

.notification__flex {
  display: flex;
  align-items: center;
}

.notification__avatar {
  height: 100%;
  width: 60px;
  border-radius: 50%;
  margin-right: 16px;
}

.notification__name {
  margin-bottom: 0;
}

.notification__event {
  color: #88878f;
}

.notification__time {
  color: #cecf74;
  margin-left: 8px;
}

.notification__button {
  background-color: #fefe00;
  border: none;
  padding: 0.7rem 1.5rem;
  border-radius: 12px;
  width: 100%;
  margin-bottom: 0.5rem;
  transition: all 0.15s ease-in-out;
  cursor: pointer;
}

.notification__button:hover {
  background-color: #cecf74;
}
