.suggestions__text {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}

.suggestions__title {
  font-size: 1.4rem;
}

.suggestions__link {
  font-size: 1.2rem;
  font-weight: 600;
  text-align: center;
  overflow-wrap: break-word;
}

.suggestions__link:hover {
  text-decoration: underline;
}

.suggestions__link--avatar {
  margin-right: 16px;
}

.suggestions__suggestion {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.suggestions__user {
  display: flex;
  align-items: center;
}

.suggestions__suggestion:not(:last-child) {
  margin-bottom: 2rem;
}

.suggestions__list {
  padding: 0;
  margin: 0;
}

.suggestions__avatar {
  height: 100%;
  width: 60px;
  border-radius: 50%;
}

.suggestions__subtitle {
  margin-right: 8px;
  max-width: 125px;
  word-wrap: break-word;
}

.suggestions__button {
  width: 160px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.suggestions__button--follow {
  background-color: rgb(59, 130, 246);
  color: inherit;
}

.suggestions__button--follow:hover {
  background-color: rgb(37, 99, 235);
}

.suggestions__button--followed {
  border: 2px solid #d9e4f3;
  color: #283c71;
}

.suggestions__button--followed:hover {
  background-color: rgb(200, 202, 204);
  border-color: transparent;
}
