.home {
  display: grid;
  grid-template-columns: 2fr 1.2fr;
  gap: 2rem;
  padding: 3rem 4.3rem;
}

.home__menu {
  display: none;
}

@media (max-width: 1253px) {
  .home__right {
    display: none;
  }

  .home__menu {
    display: block;
  }

  .home {
    grid-template-columns: 1fr;
    padding: 1rem;
  }
}

@media (max-width: 820px) {
  .home {
    padding: 0;
    margin-top: 6rem;
  }
}
