.toast {
  padding: 0.75rem 1rem;
  border-radius: 0.25rem;
  position: fixed;
  top: 5rem;
  right: 2rem;
  display: flex;
  width: 18rem;
  align-items: center;
  justify-content: flex-start;
  box-shadow: 1px 1px 10px 2px rgb(255, 255, 255, 0.2);
  transform: translateX(calc(100% + 30px));
  transition: all 0.5s cubic-bezier(0.68, -0.55, 0.25, 1.35);
  overflow: hidden;
}

.toast--error {
  background-color: rgb(220, 38, 38);
}

.toast--success {
  background-color: rgb(22, 163, 74);
}

.toast--visible {
  visibility: visible;
  transform: translateX(0);
}

.toast--invisible {
  visibility: hidden;
}

.toast__button {
  border: none;
  padding: 0.5rem;
  width: 2rem;
  right: 0;
  top: 0;
  position: absolute;
  background-color: inherit;
  transition: 0.3s;
  cursor: pointer;
}

.toast__button--success:hover {
  background-color: #1edc64;
}

.toast__button--error:hover {
  background-color: #e35151;
}

.toast__container {
  margin-right: 1rem;
}

.toast__icon {
  color: white;
}

.toast__icon--exit {
  width: 18px;
  height: 18px;
}

.toast__icon--main {
  width: 26px;
  height: 26px;
}

.toast__bold {
  font-weight: 600;
  margin: 0;
}

.toast__text {
  line-height: 1.25rem;
  margin: 0;
}

.toast__progress {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 4px;
  width: 100%;
  background: #ddd;
}

.toast__progress::before {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  height: 100%;
  width: 100%;
}

.toast__progress--success::before {
  background-color: #40f467;
}

.toast__progress--error::before {
  background-color: #e74c3c;
}

.toast__progress--active::before {
  animation: progress 5s linear forwards;
}

@keyframes progress {
  100% {
    right: 100%;
  }
}
