.loading {
  display: flex;
}

.loading .loading__dot {
  position: relative;
  width: 0.8em;
  height: 0.8em;
  margin: 0.8em;
  border-radius: 50%;
}

.loading .loading__dot::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  background: inherit;
  border-radius: inherit;
  animation: wave 1s ease-out infinite;
}

.loading .loading__dot:nth-child(1) {
  background: #7ef9ff;
}

.loading .loading__dot:nth-child(1)::before {
  animation-delay: 0.1s;
}

.loading .loading__dot:nth-child(2) {
  background: #89cff0;
}

.loading .loading__dot:nth-child(2)::before {
  animation-delay: 0.2s;
}

.loading .loading__dot:nth-child(3) {
  background: #4682b4;
}

.loading .loading__dot:nth-child(3)::before {
  animation-delay: 0.3s;
}

.loading .loading__dot:nth-child(4) {
  background: #0f52ba;
}

.loading .loading__dot:nth-child(4)::before {
  animation-delay: 0.4s;
}

.loading .loading__dot:nth-child(5) {
  background: #000080;
}

.loading .loading__dot:nth-child(5)::before {
  animation-delay: 0.5s;
}

@keyframes wave {
  50%,
  75% {
    transform: scale(2.5);
  }
  80%,
  100% {
    opacity: 0;
  }
}
