.menu {
  width: 100%;
  margin-bottom: 2rem;
}

.menu__buttons {
  display: flex;
}

.menu__action {
    transition-property: all;
    transition-duration: 350ms;
    transition-delay: 0ms;
    animation-timing-function: ease-in-out;
    height: 0px;
    overflow: auto;
}

.menu__action--active {
    height: 100%;
}

.menu__button {
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  user-select: none;
  background-color: transparent;
  border: 1px solid transparent;
  padding: 0.5rem 0.75rem;
  line-height: 1.5;
  border-radius: 3rem;
  border-color: #363647;
  color: white;
  cursor: pointer;
  flex: 1 1;
  font-weight: 500;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.menu__button:hover {
  color: #fff;
  background-color: #202030;
}

.menu__button:first-child {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.menu__button:last-child {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
