.meter {
  background-color: rgb(229, 231, 235);
  border-radius: 0.25rem;
  width: 100%;
  margin-top: 1rem;
}

.meter__container {
    width: 0%;
    color: rgb(219, 234, 254);
    line-height: 1;
    font-weight: 500;
    text-align: center;
    border-radius: 0.25rem;;
    height: 1rem;
    padding: 0.4rem 0;
}

.meter__text {
    font-weight: 700;
}
