.form {
  margin-top: auto;
  padding: 1.6rem 1rem;
  display: flex;
  align-items: center;
  border-top: 2px solid #373543;
}

.form--dark {
  background-color: #262837;
}

.form--light {
  background-color: var(--light-bg-color);
}

.form__interactives {
  display: flex;
  align-items: center;
}

.form__icon {
  filter: invert(88%) sepia(0%) saturate(7500%) hue-rotate(32deg) brightness(113%) contrast(109%);
}

.form__button {
  border: none;
  display: flex;
  justify-content: center;
  color: white;
  align-items: center;
  font-size: 2rem;
  margin-left: 12px;
  cursor: pointer;
  transition: all 0.15s ease;
  background-color: #416bdf;
  border-radius: 50%;
  padding: 1rem;
}

.form__button:disabled {
  filter: grayscale(0.5) opacity(0.5);
  pointer-events: none;
  -webkit-filter: grayscale(0.5) opacity(0.5);
}

.form__input {
  padding: 1.2rem;
  border-radius: 8px;
  background-color: #1f1c2d;
  border: none;
  width: 100%;
  font-size: 1.5rem;
  margin-right: 12px;
  background-color: var(--input-color);
  border: 2px solid var(--light-border-color);
  color: var(--text-color);
}

.form__input:focus {
  outline: none;
}

.form__button:hover {
  background-color: #5762c8;
  transform: scale(1.05);
}

@media (max-width: 500px) {
  .form {
    padding: 1rem 0.5rem;
  }

  .form__input {
    margin: 0;
  }

  .form__button {
    padding: 0.75rem;
  }

  .form__icon:last-child {
    margin: 0;
  }
}