.form {
  margin-top: auto;
  padding: 1.75rem 1rem;
  background-color: #262837;
  display: flex;
  align-items: center;
  border-top: 2px solid #373543;
}

.form__interactives {
  display: flex;
  align-items: center;
}

.form__icon {
  font-size: 2rem;
  margin-left: 10px;
  cursor: pointer;
  transition: all 0.15s ease;
}

.form__button {
  background-color: transparent;
  border: none;
  display: flex;
  justify-content: center;
  color: white;
  align-items: center;
}

.form__button:disabled {
  filter: grayscale(0.5) opacity(0.5);
  pointer-events: none;
  -webkit-filter: grayscale(0.5) opacity(0.5);
}

.form__input {
  padding: 1.2rem;
  border-radius: 8px;
  background-color: #1f1c2d;
  border: none;
  width: 100%;
  font-size: 1.5rem;
  margin-right: 12px;
  color: inherit;
}

.form__input:focus {
  outline: none;
}

.form__icon--send {
  background-color: #416bdf;
  border-radius: 50%;
  padding: 1rem;
}

.form__icon--send:hover {
  background-color: #5762c8;
  transform: scale(1.05);
}

@media (max-width: 500px) {
  .form {
    padding: 1rem 0.5rem;
  }
  .form__input {
    margin: 0;
  }
  .form__button {
    margin-left: 4px;
  }
  .form__icon {
    padding: 0.5rem;
  }
  .form__icon:last-child {
    margin: 0;
  }
}
