.header {
  border-bottom: 2px solid #33313e;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 2rem;
}

.header__avatar {
  width: 66px;
  height: 66px;
  margin-right: 24px;
  border-radius: 50%;
  object-fit: cover;
}

.header__flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__name {
  margin: 0;
}

.header__time {
  color: #a1a2bd;
  margin: 0;
}

.header__icon {
  font-size: 2rem;
  cursor: pointer;
  color: white;
  transition: all 0.15s ease;
}

.header__icon--back {
  margin-right: 12px;
}

.header__icon:hover {
  color: #a1a2bd;
}

@media(min-width: 1391px) {
  .header__icon--back {
    display: none;
  }
}
