.skeleton {
  width: 220px;
  height: 302px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  overflow: hidden;
}

.skeleton__avatar {
  width: 100%;
  height: 200px;
  flex-shrink: 0;
}

.skeleton__details {
  padding: 1rem;
  width: 12rem;
  margin: 0;
  display: flex;
  flex-direction: column;
}

.skeleton__text {
  width: 100%;
  height: 1rem;
  margin-bottom: 1rem;
  border-radius: 0.25rem;
}

.skeleton__button {
  padding: 0.5rem 0.4rem;
  width: 9rem;
  height: 20px;
  margin: 0 auto;
  border-radius: 0.25rem;
}

@media (max-width: 1024px) {
  .skeleton {
    flex-direction: row;
    width: 100%;
    height: 100%;
    padding: 0.75rem;
  }

  .skeleton__avatar {
    width: 5rem;
    height: 5rem;
    border-radius: 9999px;
    margin-top: 1rem;
    margin-bottom: 1rem;
  }

  .skeleton__button {
    width: 100%;
    height: 1rem;
    padding: 0;
  }
}