.not-found {
  background-color: #17171c;
  height: 100%;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.not-found__container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.not-found__number {
  font-size: 2.5rem;
  line-height: 1.2;
  font-weight: 800;
  font-family: "Inter";
  margin-bottom: 0.5rem;
}

.not-found__break {
  width: 136px;
}

.not-found__logo {
  color: #4255fe;
  font-size: 6rem;
  text-align: center;
  margin: 0;
  font-family: "Filmotype-Alice";
  letter-spacing: 10px;
  transform: rotate(-4deg);
  display: flex;
  align-items: center;
}

.auth__image {
  filter: invert(30%) sepia(41%) saturate(4365%) hue-rotate(199deg)
    brightness(106%) contrast(103%);
  width: 110px;
  height: 110px;
  margin-right: 8px;
  margin-bottom: 2rem;
}

.not-found__error {
  font-size: 1.5rem;
}

.not-found__link {
  text-decoration: underline;
}

.not-found__link:hover {
  text-decoration: none;
}