.comments {
  padding-bottom: 16px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 15px;
  border-bottom: 3px solid #24242c;
}

.comments__form {
  display: flex;
  align-items: center;
}

.comments__avatar {
  height: 100%;
  width: 40px;
  border-radius: 50%;
}

.comments__avatar--comments {
  margin-right: 12px;
}

.comments__input {
  background-color: #28262e;
  margin-top: 6px;
  width: 93%;
  box-sizing: border-box;
  padding-left: 1.8rem;
  height: 50px;
  font-size: 1.1rem;
  border-radius: 30px;
  border: none;
  color: inherit;
}

.comments__text {
  padding-top: 6px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}

.comments__icon {
  font-size: 1.3rem;
}

.comments__icon--arrow {
  vertical-align: middle;
  margin-left: 4px;
}

.comments__gray {
  color: #88878f;
  margin-right: 8px;
}

@media(max-width: 430px) {
  .comments {
    padding-left: 0;
    padding-right: 0;
  }
  .comments__input {
    font-size: 0.9rem;
  }
}
