.suggestions {
  margin: 2.9rem 0rem;
  padding: 0 1rem 1rem;
  box-sizing: border-box;
  border-radius: 8px;
  background-color: #1f1e22;
  border: 2px solid #2d3034;
}

.suggestions__text {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}

.suggestions__title {
  font-size: 1.4rem;
}

.suggestions__subtitle {
  margin-right: 8px;
  max-width: 125px;
  word-wrap: break-word;
}

.suggestions__link {
  color: #a875ff;
  font-size: 1.2rem;
  cursor: pointer;
}

.suggestions__link:hover {
  color: #d2bcff;
}

.suggestions__avatar {
  height: 100%;
  width: 60px;
  border-radius: 50%;
  margin-right: 16px;
}

.suggestions__user {
  display: flex;
  align-items: center;
}

.suggestions__suggestion {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.suggestions__suggestion:not(:last-child) {
  margin-bottom: 2rem;
}

.suggestions__button {
  border: none;
  padding: 0.7rem 2rem;
  border-radius: 12px;
  font-size: 1.1rem;
  width: 140px;
  cursor: pointer;
  transition: all 0.15s ease-in-out;
}

.suggestions__button--follow {
  background-color: #a875ff;
  color: inherit;
}

.suggestions__button--follow:hover {
  background-color: #8346e0;
}

.suggestions__button--followed {
  border: 2px solid #d9e4f3;
  color: #283c71;
}

.suggestions__button--followed:hover {
  background-color: rgb(200, 202, 204);
  border-color: transparent;
}
