.aside {
  background-color: black;
  height: 100%;
  position: fixed;
  box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
}

.aside__title {
    font-weight: 700;
    font-size: 1.5rem;
    line-height: 2rem;
    padding: 1rem;
}

.aside__menu {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
}

.aside__item {
  list-style: none; 
}

.aside__link {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-size: 1.125rem;
  line-height: 1.75rem;
  font-weight: 600;
  padding-bottom: 0.75rem;
  padding-top: 0.75rem;
}

.aside__icon {
  width: 1.5rem;
  margin-right: 0.75rem;
}

@media(min-width: 768px) {
    .aside__menu {
        flex-direction: column;
        margin: 0;
        margin-left: 0.5rem;
        margin-right: 0.5rem;
        padding: 0;
    }
}

@media (min-width: 1024px) {
  .aside {
    width: 320px;
  }
}
