.create > div:hover{
  background-color: rgb(12, 11, 9);
  cursor: pointer;
}

.create__container {
  display: flex;
  align-items: center;
}

.create__icon {
  width: 3rem;
  height: 3rem;
  margin-right: 12px;
}

.create__text {
  display: flex;
  flex-direction: column;
}

.create__title {
  font-size: 1.125rem;
  line-height: 1.75rem;
  font-weight: 600;
  margin-bottom: 0;
}

.create__description {
  margin-top: 0;
  font-size: 1rem;
  line-height: 1.5rem;
  color: rgb(107, 114, 128);
}
