.modal {
  flex: 1;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.modal__container {
  flex: 1;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 1rem 0.5rem;
  margin: 1rem;
  border-radius: 0.25rem;
  position: relative;
  border: 2px dashed rgb(229, 231, 235);
}

.modal__message {
  font-size: 1.3rem;
  font-weight: 600;
  color: var(--text-color);
}

.modal__button--picture {
  padding: 0.25rem;
  outline: #404164;
  background-color: rgb(243, 244, 246);
  border-radius: 9999px;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0.5rem;
  right: 0.5rem;
  position: absolute;
  cursor: pointer;
  border: none;
}

.modal__textarea {
  word-wrap: break-word;
  border: none;
  font-size: 16px;
  padding: 0;
  margin-bottom: 16px;
  resize: none;
  color: inherit;
  font-family: inherit;
}

.modal__textarea:focus {
  outline: none;
}

.modal__controls {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 24px 16px;
  margin-top: auto;
}

.modal__interactives {
  display: flex;
  align-items: center;
}

.modal__emoji {
  outline-color: #404164;
  padding: 0.4rem 0.5rem;
  border-radius: 0.25rem;
  margin-right: 0.25rem;
  cursor: pointer;
  font-size: 1.3rem;
}

.modal__emoji:hover {
  background-color: #f3f3f7;
}

.modal__label {
  display: flex;
  align-items: center;
  font-size: 1rem;
  padding: 0.4rem 0.8rem 0.4rem 0.5rem;
  border-radius: 4px;
  justify-content: center;
  cursor: pointer;
}

.modal__label:hover {
  background-color: #f3f3f7;
}

.modal__file {
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  width: 0.1px;
  z-index: -1;
}

.modal__icon--exit {
  width: 24px;
  height: 24px;
}

.modal__icon--gallery {
  width: 32px;
  height: 32px;
  margin-right: 0.5rem;
}

.modal__button--submit {
  padding: 0.25rem 0.5rem;
  background-color: rgb(59, 130, 246);
  color: white;
  width: 100%;
  max-width: 100px;
  cursor: pointer;
  border: none;
  border-radius: 6px;
  min-height: 36px;
  padding: 0;
  transition: 0.2s;
  font-size: 15px;
}

.modal__button--submit:hover {
  background-color: rgb(37, 99, 235);
}

.modal__button--submit:disabled {
  background-color: rgb(243, 244, 246);
  color: rgb(156, 163, 175);
  pointer-events: none;
}

.modal__button--picture {
  border: 1px solid rgb(209, 213, 219);
}

.modal__button--picture:hover {
  background-color: rgb(229, 231, 235);
}