.friends:first-child {
  border-bottom: 1px solid rgb(209, 213, 219);
}

.friends__card {
  width: 100%;
}

.friend {
  margin: 0 auto;
  width: 100%;
  max-width: 750px;
}

.friend__input {
  outline: 2px solid transparent;
  outline-offset: 2px;
  color: rgb(107, 114, 128);
  padding: 0.25rem 0.5rem;
  border-radius: 9999px;
  border-width: 1px;
}

.friend__flex {
  margin-top: 1rem;
  display: flex;
  align-items: center;
}

.friend__details {
  display: flex;
  align-items: center;
  border-radius: 0.5rem;
  transition: all 0.15s ease-in-out;
  cursor: pointer;
  flex: 0.98;
  padding: 0.5rem 1rem;
}

.friend__details:hover {
  font-weight: 500;
  background-color: rgb(12, 11, 9);
}

.friend__avatar {
  width: 40px;
  height: 40px;
  border-radius: 9999px;
  object-fit: cover;
  margin-right: 12px;
}

.friend__button {
  color: inherit;
  padding: 0.75rem;
  background-color: rgb(59, 130, 246);
  border-radius: 4px;
  cursor: pointer;
  transition: all 0.15s ease;
  border: none;
  margin-left: auto;
}

.friends__title {
  margin: 0;
  padding-bottom: 0.5rem;
  font-weight: 700;
  font-size: 1.25rem;
  line-height: 1.75rem;
  padding: 1rem;
}

.friends__cards {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin: 0;
  padding: 0;
  list-style: none;
  flex-wrap: wrap;
}

.friends__message {
  color: rgb(31, 41, 55);
  width: 100%;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-bottom: 1rem;
}

.friend__button:hover {
  background-color: rgb(37, 99, 235);
}

@media (min-width: 1024px) {
  .friends__cards {
    background-color: transparent;
  }
  .friends__card {
    width: auto;
  }
}

@media (max-width: 340px) {
  .friend__flex {
    flex-direction: column;
    align-items: center;
    gap: 16px;
  }
  .friend__button {
    margin: 0;
    width: 100%;
  }
  .friend__title {
    text-align: center;
  }
}
