.logo {
  padding-top: 1rem;
  padding-left: 0.5rem;
}

.logo__name {
  color: #0081fe;
  text-align: center;
  margin: 0;
  font-family: "Filmotype-Alice";
  display: flex;
  align-items: center;
}

.logo__name--large {
  font-size: 6rem;
  letter-spacing: 10px;
  transform: rotate(-6deg);
}

.logo__name--small {
  font-size: 2rem;
  letter-spacing: 6px;
  transform: rotate(-3deg);
}

.logo__image {
  filter: invert(30%) sepia(41%) saturate(4365%) hue-rotate(199deg)
    brightness(106%) contrast(103%);
  width: 110px;
  height: 110px;
  margin-right: 8px;
}

.logo__image--large {
  width: 110px;
  height: 110px;
  margin-bottom: 2rem;
}

.logo__image--small {
  width: 40px;
  height: 40px;
}

@media (max-width: 600px) {
  .logo {
    padding: 0;
  }
  .logo__name--large {
    font-size: 15vw;
  }
  .logo__image--large {
    width: 15vw;
    height: 15vh;
  }
}
