.user {
  background-color: #24284b;
  padding: 1rem;
  border-radius: 16px;
  transition: all 0.15s ease;
  cursor: pointer;
  margin-bottom: 1rem;
}

.user--selected {
  background-color: #9186f3;
  color: black;
}

.user:hover {
  background-color: #406be1;
}

.user:hover .user__message {
  color: white;
}

.user:hover .user__time {
  color: white;
}

.user__container {
  display: flex;
  align-items: center;
}

.user__avatar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 12px;
  object-fit: cover;
}

.user__details {
  width: 100%;
}

.user__top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 8px;
}

.user__name {
  margin: 0;
}

.user__time {
  margin: 0;
  color: white;
  transition: all 0.15s ease;
}

.user__bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.user--selected .user__message {
  margin: 0;
  color: black;
  transition: all 0.15s ease;
}

.user__message {
  margin: 0;
  color: #b7b7b7;
  transition: all 0.15s ease;
  word-break: break-all;
  -webkit-line-clamp: 3;
  display: -webkit-box;
  line-height: 1.5;
  overflow: hidden;
  -webkit-box-orient: vertical;
}

.user__number {
  padding: 0.3rem 0.7rem;
  border-radius: 100px;
  background-color: #ee6774;
  margin: 0;
  margin-left: 4px;
}