.button {
  cursor: pointer;
  padding: 0.5rem 0.4rem;
  /* border-color: rgb(88, 93, 137); */
  border-style: solid;
  border-width: 1px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: inherit;
  width: 80%;
  border-color: var(--dark-border-color);
}

.button--blue {
  color: white;
  background-color: rgb(88, 93, 137);
}

.button--white {
  color: rgb(80, 84, 124);
  background-color: rgb(255, 255, 255);
}

.button--blue:hover {
  background-color: rgb(106, 102, 160);
  border-color: rgb(106, 112, 160);
}

.button--white:hover {
  border-color: rgb(106, 112, 160);
  background-color: rgb(243, 243, 247);
}

.button:disabled {
  color: rgb(156, 163, 175);
  background-color: rgb(243, 244, 246);
  border: none;
  cursor: pointer;
}

.button:disabled:hover {
  border-color: rgb(243, 244, 246);
}

@media (max-width: 1024px) {
  .button {
    width: 10rem;
  }
}