.password-container {
  position: relative;
}

.password-container__button {
  padding-left: 0.25rem;
  padding-right: 0.25rem;
  border-bottom-width: 1px;
  border-top-width: 1px;
  border-right-width: 1px;
  border-color: #121212;
  cursor: pointer;
  box-sizing: border-box;
  border-top: 0;
  border-bottom: 0;
  border-right: 0;
  position: absolute;
  top: 50%;
}

.password-container__button:disabled {
  filter: grayscale(0.5) opacity(0.5);
  pointer-events: none;
  -webkit-filter: grayscale(0.5) opacity(0.5);
}

.password-container__button:hover {
  background-color: rgb(209, 213, 219);
}

.password-container__icon {
  width: 28px;
  height: 28px;
  color: black;
}
