.dropdown {
  border-radius: 8px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.275);
  display: flex;
  flex-direction: column;
  min-height: 62px;
  padding: 8px;
  position: absolute;
  width: 200px;
  right: 24px;
  top: 45px;
  z-index: 1;
  background-color: white;
  margin-right: 1rem;
  gap: 8px;
  transition: 0.2s;
  visibility: visible;
}

.button {
  font-size: 1.5rem;
  cursor: pointer;
  border: none;
  background-color: transparent;
  color: white;
}

.button:hover {
  color: var(--icon-hover);
}

.dropdown--invisible {
  opacity: 0;
  visibility: hidden;
}

.dropdown__triangle {
  background-color: white;
  height: 12px;
  position: absolute;
  right: 10px;
  top: -6px;
  transform: rotate(45deg);
  width: 12px;
}

.dropdown__button {
  display: flex;
  align-items: center;
  border-radius: 6px;
  cursor: pointer;
  width: 100%;
  padding-left: 12px;
  gap: 8px;
  border: none;
  background-color: inherit;
  font-size: 1.1rem;
  height: 52px;
}

.icon {
    pointer-events: none;
}

.dropdown__button:hover {
  background-color: #f2f2f2;
}

.dropdown__icon {
  font-size: 2rem;
}
