.welcome {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: "Josefin Sans", sans-serif;
  min-height: 100%;
}

.welcome--light {
  color: var(--black);
}

.welcome--dark {
  color: var(--white);
}

.welcome__title {
  text-align: center;
  padding: 0.5rem;
  padding-bottom: 1rem;
}

.welcome__description {
  text-align: center;
}

.welcome__image {
  height: 20rem;
}

.welcome__username {
  text-align: center;
  color: #4e0eff;
}